<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .btn{
      width: 100px;
      line-height: 30px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      text-align: center;
      cursor: help;
    }
  </style>
</head>
<body>
  <%
  sb="you are sb";
  %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <h3>下面是在模板中嵌入js的内容</h3>
  <div><%= sb %></div>
  <div class="btn">按钮</div>
<script src="/js/index.js"></script>
<script>
  document.querySelector('.btn').addEventListener("click",function (e) {
      console.log("被点了");
  })
  var arr=
</script>
</body>
</html>
